<html> 
	<head>
		<title>Wall Post</title>
	<head>
	<body style="font-family:sans-serif; margin: 0;">
		<center>
			<h2 style="margin: 0;width: 100%;background-color: #3b5998;padding: 5;color: whitesmoke; text-align: left;font-weight: 100;position: fixed;z-index: 1;top: 0;">Wall Post</h2>
			<div id='container' style="margin-top: 60;">
				<form style="margin-top: 12;">
					Name: <input type="text" id="name">
					Status: <input type="text" id="status">
					<input type="button" value="Post" id="post_add">
				</form>
				<table border="1px"  style="text-align: center;border-collapse:collapse;width: 618;background: #f7f7f7; padding-bottom:12px;padding-top: 15px;">
				</table>
			</div>
			<script src="js/lib/jquery-1.8.2.min.js"></script>
			<script src="js/lib/underscore-1.4.2.min.js"></script>
			<script src="js/lib/backbone.js"></script>
			<script type="text/template" id='list_template'>
				<td width='100px' text-align='center' ><%= name %></td>
				<td width='320px' text-align='center'><%= posts %></td>
			</script>
			<script src="js/model/post_model.js"></script>
			<script src="js/collection/post_coll.js"></script>
			<script src="js/view/view_one.js"></script>
		</center>
	</body>
</html>
