<html>
	<head>
		<title>Wall Post</title>
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
		<link rel="stylesheet" href="css/wall.css"/>
	<head>
	<body>
		<center>
			<h2>Wall Post</h2>
			<div id='container'>
				<form>
					<lable for="status">Status:</lable><input type="text" id="status">
					<input type="button" value="Post" id="post_add">
				</form>
				<div id="fileuploader">Upload</div>
				<button id="page_prev" disabled>Prev</button>
				<table>
				</table>
				<button id="page_next">Next</button>
			</div>
			<div id="dialog" title="Alert" style="display:none;">
				<p>
				Are you sure?</p>
				</div> 
			<link href="css/uploadfile.min.css" rel="stylesheet">
			<script src="js/lib/jquery-1.8.2.min.js"></script>
			<script src="js/jquery.uploadfile.min.js"></script>
			<script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
			<script src="js/lib/underscore-1.4.2.min.js"></script>
			<script src="js/lib/backbone.js"></script>
			<script type="text/template" id='list_template'>
				<td><img src="<%= img_url %>"></img></td>
				<td width='100px' text-align='center' ><%= name %></td>
				<td width='400px' text-align='center' ><%= posts %></td>
				<td width='100px'><input type="button" value="<%= like %> - Like" class="like_but">
									<input type="button" value="Edit" class="edit_but">
									<input type="button" value="Delete" class="del_but"></td>
			</script>
			<script type="text/template" id='edit_template'>
				<td><img src="<%= img_url %>"></img></td>
				<td width='80px' text-align='center' ><%= name %></td>
				<td width="400"><input type="text" value="<%= posts %>" id='edit_status'></td>
				<td width='100px'><input type="button" value="Update" class="update_but">
				<input type="button" value="Cancel" class="cancel_update_but"></td>
			</script>
			<script src="js/model/post_model.js"></script>
			<script src="js/collection/post_coll.js"></script>
			<script src="js/view/view_one.js"></script>
			<script src="js/script.js"></script>
		</center>
	</body>
</html>